:root {
    font-size: 17.5px;
    --tsa-accent-1: #36A0E2;
}

html body {
    background: #fff url(/assets/images/background.png);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body a {
    color: var(--tsa-accent-1);
}